<header class="header">
    <nav class="navbar">
      <a routerLink="/" class="logo">MedSys</a>
      <div class="nav-links">
        <a routerLink="/" class="nav-link">Início</a>
        <a routerLink="/cursos" class="nav-link">O Ministério</a>
        <a routerLink="/sobre" class="nav-link">Angola</a>
        <a routerLink="/sobre" class="nav-link">Informações</a>
        <a (click)="openLoginModal()" routerLink="/sobre" class="nav-link">Medicamentos</a>
        <a routerLink="/sobre" class="nav-link">Contactos</a>
        <a  (click)="openModal()" class="btn-login">Entrar</a>
      </div>
    </nav>
  </header>