<section class="partners">
    <h2>Nossos Parceiros</h2>
    <div class="partner-logos">
      <img src="https://governo.gov.ao/public/app-assets/img/links/cisp.jpg" alt="Parceiro 1">
      <img src="https://governo.gov.ao/public/app-assets/img/links/inac.jpg" alt="Parceiro 2">
      <img src="https://governo.gov.ao/public/app-assets/img/links/in.jpg" alt="Parceiro 3">
      <img src="https://governo.gov.ao/public/app-assets/img/links/sepe.jpg" alt="Parceiro 4">
      <img src="https://governo.gov.ao/public/app-assets/img/links/sme.jpg" alt="Parceiro 5">
    </div>
    <div class="green-bar"></div>
  </section>
  