/* Main Content */
.main-content {
    margin-left: 250px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-height: 100vh;
    background-color: #f7faf8;
  }
  
  /* Overview Section */
  .overview {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .overview h2 {
    color: #69a77c; /* Verde Suave */
    font-size: 28px;
    margin-bottom: 10px;
  }
  
  .overview p {
    font-size: 16px;
    color: #555;
  }
  
  /* Consultation Scheduler */
  .consultation-scheduler {
    width: 100%;
    max-width: 600px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 30px;
  }
  
  .schedule-form label {
    display: block;
    font-size: 16px;
    color: #555;
    margin-bottom: 8px;
  }
  
  .schedule-form input,
  .schedule-form select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 20px;
  }
  
  .schedule-btn {
    background-color: #69a77c; /* Verde Suave */
    color: white;
    border: none;
    border-radius: 5px;
    padding: 12px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
  }
  
  .schedule-btn:hover {
    background-color: #558f69; /* Verde escuro */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  /* Available Locations */
  .available-locations {
    width: 100%;
    max-width: 600px;
  }
  
  .available-locations h3 {
    color: #69a77c; /* Verde Suave */
    font-size: 22px;
    margin-bottom: 15px;
  }
  
  .location-list {
    list-style: none;
    padding: 0;
  }
  
  .location-list li {
    font-size: 16px;
    color: #555;
    padding: 10px 15px;
    background: white;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
  }
/* Botão para Ver Histórico */
.history-button-section {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .history-btn {
    background-color: #69a77c; /* Verde suave */
    color: white;
    border: none;
    border-radius: 5px;
    padding: 12px 25px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    text-transform: uppercase;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .history-btn:hover {
    background-color: #558f69; /* Verde mais escuro */
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
  }
  
  .history-btn:active {
    transform: scale(0.98); /* Leve redução ao clicar */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }
    