<app-header-medico></app-header-medico>

<main class="main-content">
  <section class="dashboard-overview">
    <h2>Bem-vindo(a), Doutor(a)!</h2>
    <p>Gerencie suas consultas, pacientes e outras atividades do dia a dia.</p>
  </section>
  <section class="dashboard-actions">
    <div class="action-card">
      <h3>Pacientes</h3>
      <p>Acesse os registros e o histórico dos seus pacientes.</p>
      <button class="btn">Ver Pacientes</button>
    </div>
    <div class="action-card">
      <h3>Consultas</h3>
      <p>Gerencie consultas agendadas e veja sua agenda.</p>
      <button class="btn">Gerenciar Consultas</button>
    </div>
    <div class="action-card">
      <h3>Relatórios</h3>
      <p>Crie e acesse relatórios médicos rapidamente.</p>
      <button class="btn">Ver Relatórios</button>
    </div>
  </section>
</main>

<app-footer-medico></app-footer-medico>
