<app-header></app-header>
<!-- 
<section class="hero">
  <div class="hero-content">
    <div class="slideshow-container">
      <div class="mySlides fade">
        <img src="https://static.vecteezy.com/ti/fotos-gratis/t2/41436456-ai-gerado-cinematografico-imagem-do-uma-leao-dentro-uma-natureza-panorama-foto.jpg" alt="Imagem 1" class="hero-image">
        <div class="slide-description">Descrição da Imagem 1 relacionada à saúde.</div>
      </div>
      <div class="mySlides fade">
        <img src="hhttps://static.vecteezy.com/ti/fotos-gratis/t2/41436456-ai-gerado-cinematografico-imagem-do-uma-leao-dentro-uma-natureza-panorama-foto.jpg" alt="Imagem 2" class="hero-image">
        <div class="slide-description">Descrição da Imagem 2 relacionada à saúde.</div>
      </div>
      <div class="mySlides fade">
        <img src="https://static.vecteezy.com/ti/fotos-gratis/t2/41436456-ai-gerado-cinematografico-imagem-do-uma-leao-dentro-uma-natureza-panorama-foto.jpg" alt="Imagem 3" class="hero-image">
        <div class="slide-description">Descrição da Imagem 3 relacionada à saúde.</div>
      </div>
    </div>
    <h1>Bem-vindo ao Sistema de Gestão de Medicamentos</h1>
    <p>Gerencie seus medicamentos de forma eficiente e eficaz!</p>
    <a routerLink="/medications" class="btn-hero">Ver Medicamentos</a>
  </div>
</section> -->

<app-imagemcentral></app-imagemcentral>

<app-parceiros></app-parceiros>

<app-depoimentos></app-depoimentos>

<app-footer></app-footer>