<header class="header-vertical">
  <h1>MedSys Online</h1>
  <nav>
    <a routerLink="/convidados-home" routerLinkActive="active">Início</a>
    <a routerLink="/convidados-recomendacoes" routerLinkActive="active">Recomendações de Saúde</a>
    <a routerLink="/convidados-carrinho" routerLinkActive="active">Carrinho</a>
    <a routerLink="/convidados-historico" routerLinkActive="active">Histórico de Pedidos</a>
    <a routerLink="/contate-nos" routerLinkActive="active">Contate-nos</a>
    <a routerLink="/ajuda" routerLinkActive="active">Ajuda</a>
  </nav>
  <button class="logout-btn">Sair</button>
</header>
  