/* Header Vertical */
.header-vertical {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 250px;
    background-color: #69a77c;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 20px 10px;
    box-sizing: border-box;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  }
  
  .header-vertical h1 {
    font-size: 20px;
    margin-bottom: 20px;
    text-align: center;
  }
  
  .header-vertical nav {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
    text-align: center;
  }
  
  .header-vertical a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    padding: 10px;
    border-radius: 5px;
  }
  
  .header-vertical a.active, .header-vertical a:hover {
    background-color: #558f69;
    font-weight: bold;
  }
  
  .logout-btn {
    margin-top: auto;
    background-color: #558f69;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .logout-btn:hover {
    background-color: #69a77c;
  }
  