<app-header-convidado></app-header-convidado>
<main class="main-content">
  <section class="overview">
    <h2>Meu Perfil</h2>
    <p>Gerencie suas informações pessoais, altere sua foto e atualize suas preferências.</p>
  </section>
  
  <!-- Formulário de Perfil -->
  <section class="profile-section">
    <form class="profile-form">
      <!-- Foto de Perfil -->
      <div class="profile-photo">
        <img [src]="usuario.foto" alt="Foto de Perfil" class="profile-image">
        <input type="file" id="foto" (change)="alterarFoto($event)" class="photo-input">
      </div>
      
      <!-- Campos Pessoais -->
      <label for="nome">Nome:</label>
      <input type="text" id="nome" [(ngModel)]="usuario.nome">
      
      <label for="email">E-mail:</label>
      <input type="email" id="email" [(ngModel)]="usuario.email">
      
      <label for="telefone">Telefone:</label>
      <input type="text" id="telefone" [(ngModel)]="usuario.telefone">

      <label for="endereco">Endereço:</label>
      <input type="text" id="endereco" [(ngModel)]="usuario.endereco">

      <!-- Atualizar Senha -->
      <label for="senha">Senha:</label>
      <input type="password" id="senha" [(ngModel)]="usuario.senha">

      <button class="save-btn" (click)="salvarPerfil()">Salvar</button>
    </form>
  </section>
</main>
